<center>
  <h1>Counter Value: <%= @counter %></h1>
  <form action='/increment' method='post'>
    <input type='submit' value='Increment the Counter!'>
  </form>
  <form action='/decrement' method='post'>
    <input type='submit' value='Decrement the Counter!'>
  </form>
</center>
